#video {
	border: 1px solid black;
	box-shadow: 2px 2px 3px black;
	width: 320px;
	height: 240px;
}

#photo {
	border: 1px solid black;
	box-shadow: 2px 2px 3px black;
	width: 320px;
	height: 240px;
}

#canvas {
	display: none;
}

.camera {
	width: 340px;
	display: inline-block;
}

.output {
	width: 340px;
	display: inline-block;
}

#startbutton {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	bottom: 32px;
	background-color: rgba(0, 150, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.7);
	box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
	font-size: 14px;
	font-family: "Lucida Grande", "Arial", sans-seriv;
	color: rgba(255, 255, 255, 1.0);
}

.contentarea {
	font-size: 16px;
	font-family: "Lucida Grande", "Arial", sans-seriv;
	width: 760px;
}
